In [311]:
# Dependencies
import pandas as pd
import numpy as np
import os
from datetime import datetime
#from sqlalchemy import create_engine

#import pymysql
#pymysql.install_as_MySQLdb()
import matplotlib
matplotlib.use('nbagg')
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [312]:
csvfile = "hawaii_measurements.csv"

In [313]:
df = pd.read_csv(csvfile, dtype=object)

In [314]:
df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [315]:
# Cleaning data
df = df.dropna(axis=0)
df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [316]:
#df['station'] = df['station'].map(lambda x: x.lstrip('USC00'))

In [317]:
df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [318]:
df["id"] = df.index + 1

In [319]:
df = df[['id','station','date','prcp','tobs']]

In [320]:
#df['date'] = df['date'].map(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))

In [321]:
df.head()

   id      station        date  prcp tobs
0   1  USC00519397  2010-01-01  0.08   65
1   2  USC00519397  2010-01-02     0   63
2   3  USC00519397  2010-01-03     0   74
3   4  USC00519397  2010-01-04     0   76
5   6  USC00519397  2010-01-07  0.06   70

In [322]:
# Newly Cleaned CSV
new_csv = "clean_hawaii_measurements.csv"
df.to_csv(new_csv, index=False)

In [323]:
#Loading Hawaii stations csv
csvfile2 = "hawaii_stations.csv"

In [324]:
df2 = pd.read_csv(csvfile2, dtype=object)

In [325]:
df2.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [326]:
# Cleaning Data
df2 = df2.dropna(axis=0)
df2.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [327]:
#df2['station'] = df2['station'].map(lambda x: x.lstrip('USC00'))

In [328]:
df2["id"] = df2.index + 1

In [329]:
df2 = df2[['id','station','name','latitude','longitude', 'elevation']]

In [330]:
df2.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [331]:
new_csv2 = "clean_hawaii_stations.csv"
df2.to_csv(new_csv2, index=False)

In [332]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Date, Numeric, Text, Float

In [333]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [334]:
conn = engine.connect()

In [335]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Measurement(Base):
    __tablename__ = "measurements"

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
   


    #def __repr__(self):
       # return f"id={self.id}, prcp={self.prcp}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [336]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
#Base = declarative_base()

class Station(Base):
    __tablename__ = "stations"

#
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   


    #def __repr__(self):
       # return f"id={self.id}, station={self.station}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [337]:
Base.metadata.create_all(engine)
new_df = pd.read_csv(new_csv)

In [338]:
new_df2 = pd.read_csv(new_csv2)

In [339]:
data = new_df.to_dict(orient='records')
data2 = new_df2.to_dict(orient='records')

In [340]:
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [341]:
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])
    
print(data[:5])

[{'id': 1, 'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'id': 2, 'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'id': 3, 'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'id': 4, 'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'id': 6, 'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]

In [342]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [343]:
columns2 = inspector.get_columns('station')
for c in columns2:
    print(c['name'], c["type"])

print(data2[:5])

[{'id': 1, 'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'id': 2, 'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'id': 3, 'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'id': 4, 'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'id': 5, 'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [344]:
metadata2 = MetaData(bind=engine)
metadata2.reflect()

In [345]:
table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [346]:
conn.execute(table.delete())

In [347]:
conn.execute(table.insert(), data)

In [348]:
conn.execute("select * from measurements limit 100").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (6, 'USC00519397', '2010-01-07', 0.06, 70),
 (7, 'USC00519397', '2010-01-08', 0.0, 64),
 (8, 'USC00519397', '2010-01-09', 0.0, 68),
 (9, 'USC00519397', '2010-01-10', 0.0, 73),
 (10, 'USC00519397', '2010-01-11', 0.01, 64),
 (11, 'USC00519397', '2010-01-12', 0.0, 61),
 (12, 'USC00519397', '2010-01-14', 0.0, 66),
 (13, 'USC00519397', '2010-01-15', 0.0, 65),
 (14, 'USC00519397', '2010-01-16', 0.0, 68),
 (15, 'USC00519397', '2010-01-17', 0.0, 64),
 (16, 'USC00519397', '2010-01-18', 0.0, 72),
 (17, 'USC00519397', '2010-01-19', 0.0, 66),
 (18, 'USC00519397', '2010-01-20', 0.0, 66),
 (19, 'USC00519397', '2010-01-21', 0.0, 69),
 (20, 'USC00519397', '2010-01-22', 0.0, 67),
 (21, 'USC00519397', '2010-01-23', 0.0, 67),
 (22, 'USC00519397', '2010-01-24', 0.01, 71),
 (23, 'USC00519397', '2010-01-25', 0.0, 67),
 (24, 'USC00519397', '2010-01-26', 0.04, 76),
 (25, 'USC00519397', '2010-01-27', 0.12, 68),
 (26, 'USC00519397', '2010-01-28', 0.0, 72),
 (28, 'USC00519397', '2010-01-31', 0.03, 67),
 (29, 'USC00519397', '2010-02-01', 0.01, 66),
 (31, 'USC00519397', '2010-02-04', 0.01, 69),
 (32, 'USC00519397', '2010-02-05', 0.0, 67),
 (33, 'USC00519397', '2010-02-06', 0.0, 67),
 (34, 'USC00519397', '2010-02-07', 0.0, 64),
 (35, 'USC00519397', '2010-02-08', 0.0, 69),
 (36, 'USC00519397', '2010-02-09', 0.0, 73),
 (37, 'USC00519397', '2010-02-11', 0.0, 73),
 (38, 'USC00519397', '2010-02-12', 0.02, 69),
 (39, 'USC00519397', '2010-02-13', 0.01, 69),
 (40, 'USC00519397', '2010-02-14', 0.0, 69),
 (41, 'USC00519397', '2010-02-15', 0.0, 71),
 (42, 'USC00519397', '2010-02-16', 0.0, 61),
 (43, 'USC00519397', '2010-02-17', 0.0, 69),
 (45, 'USC00519397', '2010-02-20', 0.03, 64),
 (46, 'USC00519397', '2010-02-21', 0.0, 65),
 (47, 'USC00519397', '2010-02-22', 0.0, 67),
 (48, 'USC00519397', '2010-02-23', 0.0, 68),
 (49, 'USC00519397', '2010-02-24', 0.0, 65),
 (50, 'USC00519397', '2010-02-25', 0.0, 76),
 (51, 'USC00519397', '2010-02-26', 0.0, 75),
 (52, 'USC00519397', '2010-02-28', 0.0, 66),
 (53, 'USC00519397', '2010-03-01', 0.01, 70),
 (54, 'USC00519397', '2010-03-02', 0.0, 72),
 (55, 'USC00519397', '2010-03-03', 0.0, 73),
 (56, 'USC00519397', '2010-03-04', 0.12, 70),
 (57, 'USC00519397', '2010-03-05', 0.08, 71),
 (58, 'USC00519397', '2010-03-06', 0.03, 72),
 (59, 'USC00519397', '2010-03-07', 0.0, 72),
 (60, 'USC00519397', '2010-03-08', 0.43, 69),
 (61, 'USC00519397', '2010-03-09', 0.06, 70),
 (63, 'USC00519397', '2010-03-12', 0.0, 72),
 (64, 'USC00519397', '2010-03-13', 0.0, 73),
 (65, 'USC00519397', '2010-03-14', 0.0, 70),
 (66, 'USC00519397', '2010-03-15', 0.06, 71),
 (67, 'USC00519397', '2010-03-17', 0.0, 68),
 (68, 'USC00519397', '2010-03-18', 0.0, 70),
 (69, 'USC00519397', '2010-03-21', 0.0, 72),
 (70, 'USC00519397', '2010-03-22', 0.0, 69),
 (71, 'USC00519397', '2010-03-23', 0.0, 68),
 (72, 'USC00519397', '2010-03-24', 0.0, 74),
 (74, 'USC00519397', '2010-03-27', 0.0, 72),
 (75, 'USC00519397', '2010-03-28', 0.0, 73),
 (76, 'USC00519397', '2010-03-29', 0.0, 74),
 (77, 'USC00519397', '2010-03-30', 0.0, 73),
 (78, 'USC00519397', '2010-03-31', 0.0, 73),
 (79, 'USC00519397', '2010-04-01', 0.0, 74),
 (80, 'USC00519397', '2010-04-02', 0.01, 74),
 (81, 'USC00519397', '2010-04-03', 0.17, 74),
 (82, 'USC00519397', '2010-04-04', 0.15, 71),
 (83, 'USC00519397', '2010-04-05', 0.27, 72),
 (84, 'USC00519397', '2010-04-06', 0.01, 75),
 (85, 'USC00519397', '2010-04-08', 0.0, 75),
 (86, 'USC00519397', '2010-04-09', 0.01, 75),
 (87, 'USC00519397', '2010-04-10', 0.0, 75),
 (88, 'USC00519397', '2010-04-11', 0.01, 73),
 (89, 'USC00519397', '2010-04-12', 0.01, 73),
 (90, 'USC00519397', '2010-04-13', 0.0, 71),
 (91, 'USC00519397', '2010-04-15', 0.0, 71),
 (92, 'USC00519397', '2010-04-16', 0.01, 68),
 (93, 'USC00519397', '2010-04-17', 0.0, 70),
 (94, 'USC00519397', '2010-04-18', 0.0, 71),
 (95, 'USC00519397', '2010-04-19', 0.0, 74),
 (96, 'USC00519397', '2010-04-20', 0.04, 71),
 (97, 'USC00519397', '2010-04-21', 0.01, 75),
 (98, 'USC00519397', '2010-04-22', 0.0, 76),
 (99, 'USC00519397', '2010-04-23', 0.02, 75),
 (100, 'USC00519397', '2010-04-24', 0.0, 75),
 (101, 'USC00519397', '2010-04-25', 0.0, 76),
 (102, 'USC00519397', '2010-04-26', 0.0, 76),
 (103, 'USC00519397', '2010-04-28', 0.0, 76),
 (104, 'USC00519397', '2010-04-30', 0.0, 77),
 (105, 'USC00519397', '2010-05-01', 0.0, 77),
 (106, 'USC00519397', '2010-05-02', 0.03, 73)]

In [349]:
table2 = sqlalchemy.Table('stations', metadata, autoload=True)

In [350]:
conn.execute(table2.delete())

In [351]:
conn.execute(table2.insert(), data)

In [352]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', None, None, None, None),
 (2, 'USC00519397', None, None, None, None),
 (3, 'USC00519397', None, None, None, None),
 (4, 'USC00519397', None, None, None, None),
 (6, 'USC00519397', None, None, None, None)]